:root {
  /* Змінні кольорів */
  --white: white;
  --black: black;

  /* Кореневий розмір шрифту */
  font-size: 20px;
}


@media (prefers-color-scheme: light) {
  :root {
    --white: white;
    --black: black;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --white: black;
    --black: white;
  }
}

[color-scheme="light"] {
  --white: white;
  --black: black;
}

[color-scheme="dark"] {
  --white: black;
  --black: white;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.lock {
  overflow: hidden;
}

header {
  background-color: var(--white);
  width: 100vw;
  height: 60px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.header-logo {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.header-logo-link {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: inherit;
  height: inherit;
}

.header-logo-link-svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

#header-logo-link-svg-svg {
  height: 25px;
  /* Тут керувати розміром за допомогою height */
  /* Тут редагувати полження за допомогою margin */
}

#header-logo-link-svg-path {
  fill: var(--black);
  fill-opacity: 1;
  stroke: none;
}

.header-btn {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  background-color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.header-burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
}

.header-burger span {
  position: absolute;
  background-color: var(--black);
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 3px;
  transition: all 0.3s ease;
}

.header-burger::before,
.header-burger::after {
  content: '';
  background-color: var(--black);
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease;
}

.header-burger::before {
  top: 0;
}

.header-burger::after {
  bottom: 0;
}

.header-burger.active span {
  transform: scale(0);
}

.header-burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}

.header-burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  background-color: var(--white);
  padding-top: 100px;
  padding-bottom: 70px;
  transition: all 0.3s ease;
}

.header-menu.active {
  width: 100%;
  top: 0;
  left: 0;
}

.header-list {
  min-height: 450px;
  height: 450px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 30px 50px;
}

.header-list li {
  padding: 5px;
}

.header-link,
.header-link:visited,
.header-link:active,
.header-link:focus {
  color: var(--black);
  font-size: 1.2rem;
  text-decoration: none;
}

.header-link-active {
  border-bottom: 3px solid var(--black);
  padding-bottom: 1px;
}

