:root {
  /* Змінні кольорів */
  --white: white;
  --black: black;

  /* Змінна кольору букви, на якій фокусується */
  --focus-letter-color: orangered;

  /* Початкове значення змінної висоти */
  /* Це значення буде змінюватись через adjust-height.js */
  /* Це тому, що на мобільних пристроях є нижні і верхні панелі, і через них не видно кнопки */
  --app-height: 100%;

  /* Кореневий розмір шрифту */
  font-size: 20px;
}


@media (prefers-color-scheme: light) {
  :root {
    --white: white;
    --black: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: black;
    --black: white;
  }
}

[color-scheme="light"] {
  --white: white;
  --black: black;
}

[color-scheme="dark"] {
  --white: black;
  --black: white;
}

body.locked-for-reading {
  overflow: hidden;
}

.locked-for-reading {
  overflow: hidden;
}

main.blurried-for-reading {
  opacity: 0.1;
}

.blurried-for-reading {
  opacity: 0.1;
}

.reader {
  display: none;
}

.reader.reader-active {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  z-index: 14;
  opacity: 1;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  transition: all 0.5s ease;
}

.reader-close {
  padding: 5px;
  position: relative;
}

.reader-close-btn {
  background-color: var(--white);
  width: 55px;
  height: 55px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
}

.reader-close-btn::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(45deg);
  background-color: var(--black);
}

.reader-close-btn::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 3px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
  background-color: var(--black);
}

.reader-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reader-text-container {
  background-color: var(--white);
  width: 85%;
  max-width: 350px;
  min-width: 280px;
  height: 85%;
  max-height: 350px;
  min-height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reader-text-output {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reader-text-output-endmessage {
  display: none;
}

.reader-text-output-endmessage.reader-text-output-endmessage-active {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.2rem;
  width: 100%;
  min-height: 100px;
  height: 100%;
  display: block; 
}

.reader-text-output-endmessage-next {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}

/* Стрілочка після закінчення новини: Наступна > */
.reader-text-output-endmessage-next span {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 1px;
  position: relative;
}

.reader-text-output-endmessage-next span::before {
  content: "";
  background-color: var(--black);
  display: inline-block;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 44%;
  right: 50%;
  transform: translate(50%, -50%) rotate(45deg);
}

.reader-text-output-endmessage-next span::after {
  content: "";
  background-color: var(--black);
  display: inline-block;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 56%;
  right: 50%;
  transform: translate(50%, 50%) rotate(-45deg);
}

.reader-text-output-endmessage-prev {
  width: 100%;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-right: 60px; /* <- Для того, щоб вирівняти з верхнім */
  cursor: pointer;
}

/* Стрілочка після закінчення новини: < Попередня */
.reader-text-output-endmessage-prev span {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 1px;
  position: relative;
}

.reader-text-output-endmessage-prev span::before {
  content: "";
  background-color: var(--black);
  display: inline-block;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 44%;
  right: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
}

.reader-text-output-endmessage-prev span::after {
  content: "";
  background-color: var(--black);
  display: inline-block;
  width: 12px;
  height: 2px;
  position: absolute;
  top: 56%;
  right: 50%;
  transform: translate(50%, 50%) rotate(45deg);
}



/* Стилі для слова, що показується */


.reader-text-output-word {
  display: none;
}


.reader-text-output-word.reader-text-output-word-active {
  display: block; 
  position: relative;
  width: 100%;
  height: auto;
}

.focused {
  display: inline-block;
  position: relative;
  left: 45%; /* <- Зміна відступу тут*/
  width: auto;
  font-size: 1.5rem;
  user-select: none;
  color: var(--focus-letter-color);
}

.letter {
  display: inline-block;
  position: absolute;
  color: var(--black);
}

.letter1 {
  padding-right: 1px;
  transform: translate(-100%, 0%);
}

.letter2 {
  padding-left: 1px;
}

@media (min-width: 770px) {
  
}






